.content .row{
    margin: 0 -5px;
}

.content .row:after {
    content: "";
    display: table;
    clear: both;
  }

.content .column{
  float: left;
  width: 50%;
  padding: 30px 10px 20px 30px;
}

@media screen and (max-width: 600px) {
    .content .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

  .content .column .card{
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    height: 100%;
  }