.section{
    padding-top: 30px;
    padding-bottom: 30px;
}

.main-heading{
    color: #1A4D8C;
    font-size: 26px;
    text-align:center;
}
.bg-c-light{
    background:linear-gradient(135deg, #F9E45B, pink);
}