.thankyou-body{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-top: 45px;
    padding-bottom: 45px;
    background: linear-gradient(135deg, #F9E45B, pink);
  }
  
  .thankyou-container{
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 35px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  }
  
  .thankyou-container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    padding-left: 50px;
  }
  
  .thankyou-container .title::before{
      content: "";
      position: absolute;
      left: 250;
      bottom: 0;
      height: 3px;
      width: 470px;
      border-radius: 5px;
      background: linear-gradient(135deg, #F9E45B, pink);
    }
  
    .content .user-details{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 20px 0 12px 0;
    }
  
    .content .thankyou-button:hover{
      background: linear-gradient(-135deg, #1A4D8C, #9b59b6);
    }
  
    .content .thankyou-button{
      height: 100%;
      width: 100%;
      border-radius: 5px;
      border: none;
      color: #fff;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 1px;
      cursor: pointer;
      transition: all 0.3s ease;
      background: linear-gradient(135deg, #F9E45B, pink);
    }
  